.text-block {
    position: relative;
    text-align: start;
}

.text-block--highlight {
    &:hover {
        cursor: pointer;
        background-color: #abff32;
    }
}

/*
    Special Text Type - Translator Addition
*/
.spt--ta {
    font-style: italic;
}

/*
    Special Text Type - Transliterated
*/
.spt--t {
    font-style: italic;
}

/*
    Special Text Type - Word of Jesus
*/
.spt--wj {
    color: red;
}

